body{
  font-family: "Roboto"
}
.hero{
  margin: 0 auto;
  h1{
    font-size: 55px;
  }
  background-image: url('./images/cool-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-body{
 display: flex;
 justify-content: center;
 flex-direction: column;
 color: black;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.hero-foot{
  opacity: 0.8;
}

#About{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 0.5em;
    }
  }
}

#Skills{
 .columns{
   margin-left: 50px;
   margin-right: 50px;
 }
  i {
     color: rgb(230, 92, 0);
     font-size: 50px;
   }
  }

#Contact{
  margin-top: 50px;
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      margin: 0 auto;
    }
  }
}



